<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>css 3D</title>
    <link rel="stylesheet" href="/dist/styles/index.css" />
</head>
<body>
    <!-- stage 舞台元素
    -contain 容器元素
    -3d变换具体的元素 -->
    <div class="stage">
        <div class="contain">
            <div class="first">first</div>
            <div class="second">second</div>
            <div class="third">third</div>
            <div class="forth">forth</div>
            <div class="fifth">fifth</div>
            <div class="sixth">sixth</div>
        </div>
    </div>
</body>
</html>
