<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .world{
            background: -webkit-linear-gradient(#e4e0ba, #f7d9aa);
            background: -o-linear-gradient(#e4e0ba, #f7d9aa);
            background: linear-gradient(#e4e0ba, #f7d9aa);
        }
    </style>
    <title>three</title>
</head>
<body>
    <div class="world" id="world">

    </div>
    <script type="text/javascript" src="/dist/simpleByThree.js"></script>
</body>
</html>
