@import "./common.scss";
@import "./reset.scss";

@keyframes change{
    16.7% {
        transform:rotateY(-90deg);
    }
    35.4%{
        transform:rotateY(90deg);
    }
    52.1%{
        transform:rotateX(-90deg);
    }
    67.8%{
        transform:rotateX(90deg);
    }
    84.5%{
        transform:rotateY(180deg) rotateZ(180deg);
    }
    100%{
        transform:rotateX(0deg);
    }
}

.stage {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    position: relative;
    margin: 100px auto;
    .contain {
        width: 100%;
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        animation:change 8s linear infinite;
        &:hover{
            animation-play-state: paused;
        }
        div {
            position: absolute;
            text-align: center;
            width: 196px;
            height: 196px;
            border: 2px solid black;
            line-height: 196px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            &:nth-child(1) {
                background: hsla( 0, 100%, 50%, 0.7);
                transform: rotateY(0deg) translateZ(100px);
            }
            &:nth-child(6) {
                background: hsla( 60, 100%, 50%, 0.7);
                transform: rotateX(180deg) translateZ(100px);
            }
            &:nth-child(2) {
                background: hsla( 120, 100%, 50%, 0.7);
                transform: rotateY(90deg) translateZ(100px);
            }
            &:nth-child(3) {
                background: hsla( 180, 100%, 50%, 0.7);
                transform: rotateY(-90deg) translateZ(100px);
            }
            &:nth-child(4) {
                background: hsla( 240, 100%, 50%, 0.7);
                transform: rotateX(90deg) translateZ(100px);
            }
            &:nth-child(5) {
                background: hsla( 360, 100%, 50%, 0.7);
                transform: rotateX(-90deg) translateZ(100px);
            }
        }
    }
}

